@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
  -webkit-animation: fadeUp 0.6s ease-out forwards;
}

.animate-fadeDelay {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.25s;
  opacity: 0;
}


